.container {
  position: relative;
  /* margin-left: 100px; */
  height: 20px;
  width: 300px;
  border: 1px solid gray;
  border-radius: 10px;
  overflow: hidden;
}

.progressBar {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: green;
  /* transform: translateX(-50%); */
}
